<div class="container">
  <title-bar title="Why us?"></title-bar>
  <div class="whyUsCards">
    <why-us-card
      image="/assets/images/custom_design.svg"
      title="Custom Design"
      text="We create unique websites that reflect your brand and align with your goals.">
    </why-us-card>
    <why-us-card
      image="/assets/images/superior_performance.svg"
      title="Superior Performance"
      text="Our websites are optimized for fast loading and excellent performance on all devices.">
    </why-us-card>
    <why-us-card
      image="/assets/images/collaborative_process.svg"
      title="Collaborative Process"
      text="We work closely with you at every stage, ensuring your feedback shapes the final result.">
    </why-us-card>
    <why-us-card
      image="/assets/images/dedicated_support.svg"
      title="Dedicated Support"
      text="We offer ongoing support post-launch to keep your site updated and running smoothly.">
    </why-us-card>
  </div>
</div>
