<div class="container">
  <title-bar title="Why us?"></title-bar>
    <div class="whyUsCards">
      <why-us-card
        image="/assets/images/custom_design.svg"
        title="Custom Design"
        text="We create personalized websites that reflect your brand identity and perfectly align with your goals. We ensure every design is unique and functional.">
      </why-us-card>
      <why-us-card
        image="/assets/images/superior_performance.svg"
        title="Superior Performance"
        text="We develop websites optimized for fast loading and efficient performance on any device. Plus, we implement SEO best practices to enhance your visibility in search engines.">
      </why-us-card>
      <why-us-card
        image="/assets/images/collaborative_process.svg"
        title="Collaborative Process"
        text="We work with you at every stage of the project, from planning to launch. We value your feedback and incorporate it to ensure the final result exceeds your expectations.">
      </why-us-card>
      <why-us-card
        image="/assets/images/dedicated_support.svg"
        title="Dedicated Support"
        text="We provide ongoing support after launch to resolve any issues and keep your site updated. We're here to ensure your website performs flawlessly over the long term.">
      </why-us-card>
    </div>
</div>
