<div class="container">
  <title-bar-simple title="What is the process?"></title-bar-simple>
  <div class="table">
    <table-row1
      image="/assets/images/questionaire.svg"
      title="Phase 1. Requirements"
      text="You will be provided with a link to a questionnaire where you will be asked for: the name of your brand or business, a description of the company, contact information, links to social networks, and the identity manual. If you do not have an identity manual, please indicate your preferred colors and fonts.">></table-row1>

      <table-row2
      image="/assets/images/phase2.svg"
      title="Phase 2. Interface design"
      text="Once we have all the information, we will start creating a basic sketch of the website. This sketch shows what the structure of the site will look like, but without images or final text. It is just a guide so you can see how everything will be organized before we add the actual content.">></table-row2>

      <table-row1
      image="/assets/images/phase3.svg"
      title="Fase 3. Copy"
      text="Once the draft is approved, we will start replacing the test content with the images, social media links and final text that you have provided. This will be done in the language(s) of your choice..">></table-row1>

      <table-row2
      image="/assets/images/phase4.svg"
      title="Phase 4. Storage and publication"
      text="Finally, we will save and publish your website on our server, and your project will be online for the world!">></table-row2>
  </div>
</div>
