<div class="sidebar-button">
  <button (click)="toggleSidebar()">
    <img src="/assets/images/hamburger.png" alt="">
  </button>
</div>

<div [ngClass]="{'sidebar': true, 'open': isSidebarOpen}">

  <div class="navegation">
    <h2>Navegation</h2>
    <a [routerLink]="['/basic/home']" routerLinkActive="activate">Home</a>
    <a [routerLink]="['/basic/contact']" routerLinkActive="activate">Contact us</a>
    <a [routerLink]="['/basic/services']" routerLinkActive="activate">Services</a>
    <a [routerLink]="['/basic/about']" routerLinkActive="activate">About us</a>
  </div>

  <div class="settings">
    <h2>Settings</h2>
    <div class="apparence">
      <p>Apparence</p>
      <theme-toggle></theme-toggle>
    </div>
  </div>

  <div class="dev">
    <p>Dev by: <a>ralph.sites</a></p>
  </div>
</div>

