/* Estilos del botón */
.sidebar-button {
  text-align: center;
}

.sidebar-button button {
  cursor: pointer;
  background: var(--blocks-cards);
  border: none;
  padding: 10px;
  border-radius: 10px;
  height: 40px;
  width: 50px;
}

/* .sidebar-button button .bar {
  display: block;
  width: 80%;
  height: 3px;
  background-color: var(--accent-color);
  border-radius: 10px;
} */

/* Estilos del sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: var(--main-background);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar.open {
  right: 0;
}

.sidebar .head {
  display: flex;
  justify-content: space-between;
}

.sidebar .navegation {
  display: flex;
  flex-direction: column;
}


.sidebar a {
  display: inline-block;
  margin: 5px;
  padding: 15px;
  color: var(--text-elements);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.sidebar a.activate {
  background: var(--blocks-cards);
  border-radius: 10px;
}

.sidebar h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--accent-color);
  margin-bottom: 10px;
}


.sidebar .settings .apparence{
  font-size: 16px;
  font-weight: 300;
  color: var(--text-elements);
  display: flex;
  justify-content: space-between;
}


.sidebar .dev{
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: var(--text-elements);
  margin-top: auto;
}

.sidebar .dev a {
  padding: 0;
  font-size: 16px;
  font-weight: 300;
}


