<div class="container">
  <a href="">
    <div class="social-media">
      <img src="/assets/images/instagram.svg" alt="instagram">
      <p>Follow us on Instagram! Discover our projects, exclusive offers, and inspiring content. Join our community and stay updated with our latest news!</p>
    </div>
  </a>

  <a href="">
    <div class="social-media">
      <img src="/assets/images/facebook.svg" alt="facebook">
      <p>Like us on Facebook and stay informed about our projects, offers, and events. Connect with us and be part of our story.</p>
    </div>
  </a>

  <a href="">
    <div class="social-media">
      <img src="/assets/images/threads.svg" alt="threads">
      <p>Join the conversation on Threads. Share your ideas, explore our projects, and be part of our community. We can't wait to see you!</p>
    </div>
  </a>

  <a href="">
    <div class="social-media">
      <img src="/assets/images/twitter.svg" alt="twitter">
      <p>Follow us on X for instant updates on our projects, industry news, and special promotions. Connect with us and don't miss a thing!</p>
    </div>
  </a>
</div>
