<div class="container">

  <div class="home">
    <div class="title"><a [routerLink]="['/basic/home']" routerLinkActive="activate">Home</a></div>
    <div class="home-navegation">
      <a [routerLink]="['/basic/home']" fragment="why-us" routerLinkActive="activate">Why Us</a>
      <!-- <a [routerLink]="['/basic/home']" fragment="popular-designs" routerLinkActive="activate">Popular Designs</a> -->
      <a [routerLink]="['/basic/home']" fragment="process" routerLinkActive="activate">Process</a>
      <a [routerLink]="['/basic/home']" fragment="services" routerLinkActive="activate">Services</a>
      <a [routerLink]="['/basic/home']" fragment="questions" routerLinkActive="activate">Questions</a>
    </div>
  </div>

  <div class="services">
    <div class="title"><a [routerLink]="['/basic/services']" routerLinkActive="activate">Services</a></div>
    <div class="services-navegation">
      <a [routerLink]="['/basic/services']" fragment="basic-plan" routerLinkActive="activate">Basic Plan</a>
      <a [routerLink]="['/basic/services']" fragment="standard-plan" routerLinkActive="activate">Standard Plan</a>
      <a [routerLink]="['/basic/services']" fragment="plus-plan" routerLinkActive="activate">Plus Plan</a>
    </div>
  </div>

  <div class="aboutUs">
    <div class="title"><a [routerLink]="['/basic/about']" routerLinkActive="activate">About Us</a></div>
  </div>

  <div class="contactUs">
    <div class="title"><a [routerLink]="['/basic/contact']" routerLinkActive="activate">Contact Us</a></div>
  </div>

</div>
