/* estilos generales */
.navbar-container {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: var(--blocks-cards);
  height: 60px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 10px;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-elements);
  text-decoration: none;
  padding: 10px 20px;
}

.navbar-links a:hover {
  color: #0A66C2;
  font-weight: 400;
}

.brand {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  color: rgb(10, 102, 194)
}

.sidebar {
  display: none;
}

/* estilos pantallas <=800px */
@media (max-width: 800px) {
  .sidebar {
    display: block;
  }


  .navbar-links li {
    display: none;
  }

}
