<div class="main-container">
  <div class="navbar-container">
    <nav class="navbar">
      <a class="brand" href="#">ralph.sites</a>
      <ul class="navbar-links">
        <li *ngFor="let link of navLinks">
          <a [routerLink]="link.path" routerLinkActive="active">{{ link.label }}</a>
        </li>
        <li>
          <theme-toggle></theme-toggle>
        </li>
        <div class="sidebar">
          <side-bar></side-bar>
        </div>
      </ul>
    </nav>
  </div>

