<title-bar title="Plans"></title-bar>
<div class="container">
  <plan-card
    title="Basic Plan"
    subtitle="Perfect for brands starting out or looking to refresh with a functional website."
    price="$1,499 MXN"
    planType="basic">
  </plan-card>

  <plan-card
    title="Standard Plan"
    subtitle="For businesses seeking a more professional design and stronger online presence."
    price="$2,499 MXN"
    planType="standard">
  </plan-card>

  <plan-card
    title="Premium Plan"
    subtitle="Advanced, custom design for brands aiming to grow digitally."
    price="$4,499 MXN"
    planType="premium">
  </plan-card>
</div>
