.container {
  margin-bottom: 10px;
}
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  box-sizing: border-box;
}

.social-media-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer-navegation,
.social-media-contact {
  height: 100%;
}

.social-media {
  height: 100%;
}


@media only screen and (max-width: 700px) {

  .contact {
    grid-template-columns: 1fr;
  }

  .social-media-contact {
    height: 100%;
  }

  contact-button {
    display: block;
    width: 100%;
  }
}

