/* -------------------- General Styles -------------------- */
.footer {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--blocks-cards);
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.logo {
  display: none;
}

.footer-section {
  color: var(--text-elements);
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-background);
  border-radius: 10px;

}

.footer-section h3 {
  font-family: 'SF Pro';
  font-size: 18px;
}

.footer-section a {
  color: var(--text-elements);
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  padding: 10px 0;
}

.footer-section a:hover {
  text-decoration: underline;
}

.dev {
  padding: 20px;
  background-color: var(--blocks-cards);
  border-top: 1px solid var(--main-background);
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.dev p {
  font-size: 14px;
  color: var(--text-elements);
  margin: 0;
}

.dev a {
  color: var(--text-elements);
  text-decoration: none;
}

.dev a:hover {
  text-decoration: underline;
}

/* -------------------- Responsive Styles -------------------- */
@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    text-align: center;
  }

  .logo {
    display: block;
  }

  .logo img {
    width: 100px;
  }

  .footer-section a {
    margin: 10px 0;
  }
}
